/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
            background-color: #121212; /* fondo oscuro */
            color: #e0e0e0;           /* texto claro */
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    height: fit-content;
}